.product-header {
    margin: 10px auto 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.new-product-button {
    padding: 0 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.new-name-input, .new-description-input, .new-file-chooser {
    width: 100%;
    margin-bottom: 20px;
}

.product-list {
    display: grid;
    width: 320px;
    margin: 0 auto 0 auto;
}

@media only screen and (min-width: 640px) {
    .product-list {
        width: 640px;
        grid-template-columns: 320px 320px;
    }
}

@media only screen and (min-width: 960px) {
    .product-list {
        width: 960px;
        grid-template-columns: 320px 320px 320px;
    }
}

@media only screen and (min-width: 1290px) {
    .product-list {
        width: 1290px;
        grid-template-columns: 320px 320px 320px 320px;
    }
}

@media only screen and (min-width: 1620px) {
    .product-list {
        width: 1620px;
        grid-template-columns: 320px 320px 320px 320px;
    }
}