.product-card-container {
    color: grey;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    height: 300px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
}

.product-card-container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.product-image{
    height: 70%;
    margin: 5px 5px 0 5px;  
}

.product-image-rendering{
    width: 100%;
    max-height: 100%;
}

.product-name{
    font-size: 115%;
    margin: 5px 0 5px 0;
    text-align: center;
}